body {
  background-color: black; 
  color: white;
}
/* Default title-bar */
#title-bar {
        width: 100%;
	overflow: hidden;
	border-bottom: 1px solid white;
	height: 50px;
}
#title-bar h1.application-title {
	margin:0px;
	display: block;
	font-size: 1.5em;
	margin-top: 20px;
}
#title-bar a {text-decoration: none;} 
#title-bar a:link {color:white;} 
#title-bar a:visited {color:white;} 
#title-bar a:hover {color:skyblue;} 
#title-bar a:active {color:white;} 
#title-bar span.bookmarks {
	position: absolute;
	top: 4px;
	right: 4px;
}

/* Default content */
#content {
	width: 100%;
	overflow: hidden;
}
#content h2 {
	font-size: 1.3em;
}
#content div.schedule {
	float: left;
}
#content span.channel_schedule_ident {
	font-size: 1.2em;
	display: block;
}
#content div.schedule div.broadcast-focussed {
	background-color: grey;
	overflow: hidden;
}
#content div.schedule div.broadcast-focussed div.broadcast-ident {
	background-image:url('../img/bbc-test-card.jpeg');
	background-repeat:no-repeat;
	background-size:contain;
	background-position: top left;
	height: 100%;
	background-color: lightgrey;
	position: relative;
}
#content div.schedule div.broadcast-focussed div.broadcast-ident div.details{
	position: absolute;
	bottom: 0px;
	background-color: black;
	background-color: rgba(0,0,0,0.7); 
	font-size: 1.1em;
}
/* Broadcast list */
#content div.schedule ol.broadcast-list {
	margin: 0px;
	padding: 0px;
	background-color: white;
	color: black;
	overflow-x: hidden;
	overflow-y: scroll;

}
#content div.schedule ol.broadcast-list li {
	list-style-type:none;
	border-bottom: 1px solid black;
}
#content div.schedule ol.broadcast-list li.broadcast img {
	display:none;
}
#content div.schedule ol.broadcast-list li.broadcast span.description {
	display: none;
}
/* bookmarks */
#bookmarks-container{
    margin:5px;   
}
#bookmarks-container ul.bookmarks-list{
    margin:0px;
    padding:0px;          
}
#bookmarks-container li.bookmark {
   list-style-type:none; 
   position: relative;
   max-width:300px;
   height: 200px;
   margin-bottom: 10px;
}
#bookmarks-container li.bookmark .details{
    position: absolute;
	bottom: 0px;
	background-color: black;
	background-color: rgba(0,0,0,0.7); 
	font-size: 1.1em;
}
/* default: tablet landscape and desktop */
body { font-size:100%;}
#content div.schedule {
    width: 300px;
    margin-right: 20px;	
}
#content div.schedule div.broadcast-focussed { 
    height: 169px;
    width: 100%;
}
#content div.schedule ol.broadcast-list {
  height: 180px;
  width: 100%;    
}
#content span.channel_schedule_ident {
  height: 30px;          
}
