	body { font-size:100%;}
	#content div.schedule {
		width: 100%;
		height: 220px;
		margin: 0px;
	}
	#content div.schedule div.broadcast-focussed { 
		height: 170px;
		width: 40%;
		float: left;
	}
	#content div.schedule ol.broadcast-list { 
		height: 170px;
		width: 60%;
		float: left;
	}

