<html>
	<head>

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<link type="text/css" rel="stylesheet" href="css/normalize.css"/>
		<link type="text/css" rel="stylesheet" href="css/main.css"/>
		<link type="text/css" rel="stylesheet" media="only screen and (max-width: 480px)" href="css/mobile.css"/>
		<link type="text/css" rel="stylesheet" media="only screen and (min-width: 481px) and (max-width: 950px)" href="css/tablet.css"/>

		<script data-main="js/boot.js" src="js/lib/ext/requirejs/require.js"></script>

	</head>
	<body>

	<script type="text/template" id="radiotimes_template">
		<div id="radiotimes">
			<div class="schedule-container">
			</div>			
		</div>
	</script>

	<script type="text/template" id="bookmarks_template">
		<div id="bookmarks-container">
			<% console.log(bookmarks); %>			
			<h2>Bookmarks</h2>
			<ul>
				<li>Bookmark</li>
			</ul>			
		</div>		
	</script>				

	<script type="text/template" id="current_broadcast_template">
		<div class="broadcast-focussed">
			<div class="broadcast">
				<div class="broadcast-ident">
					<div class="details">
						<span class="title"><%= title %></span>
						<span class="time"><%= time %></span>
					</div>
				</div>
			</div>
		</div>
	</script>

	<script type="text/template" id="broadcast_template">
 		<li class="broadcast">
 			<div class="details">
				<span class="title"><%= title %></span>
				<span class="time"><%= time %></span>
				<a class="bookmark" href="#">Bookmark</a>
 			</div>
 		</li>
	</script>

	<script type="text/template" id="broadcasts_template">
		<ol class="broadcast-list">
		</ol>
	</script>
					
	<script type="text/template" id="schedule_template">
		<div class="schedule" id="<%= channel_id %>_schedule">
			<span class="channel_schedule_ident"><%= channel_display_name %></span>
			<div class="broadcast-focussed">
				<div class="broadcast">
					<div class="broadcast-ident">&nbsp;</div>
				</div>
			</div>
			<ol class="broadcast-list">
				<li>Loading</li>				
			</ol>				
		</div>
	</script>

	<div id="title-bar">
		<h1 class="application-title"><a href="#">BBC Schedule</a></h1>
		
		<span class="bookmarks"><a href="#/bookmarks">Bookmarks</a></span>
	</div>

	<div id="content" class="schedule-list">

	</div>
	</body>
</html>
